@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Conta Pessoal";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>A sua conta contém dados pessoais que nos forneceu. Esta página permite que você faça o download ou exclua esses dados.</p>
        <p>
            <strong>Ao remover os seus dados removerá permanentemente sua conta e não poderá ser recuperada.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Apagar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
