@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação do registo";
}

<h1>@ViewData["Title"]</h1>

<h4>
   <br /><br />
   Obrigado por fazer o seu registo no site.<br />
   Já pode fazer o seu login para ter acesso às funcionalidades da aplicação.
   </h4>