<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - psi_2022_oficinas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/psi_2022_oficinas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <!-- Navbar -->
 <div style="display:flex; justify-content:space-between; background-color:black; align-items:center;">
     <div style="display:flex; color:white;">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class='fas fa-car-alt'></i></a>
  <a href="/" class="w3-bar-item w3-button w3-teal"><img src="/images/driving-test.png" style="width:30px"/> AgendaCar</a>
  <a href="/#work" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Work</a>
  <a href="/#team" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Team</a>
  <a href="/#contact" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Contactos</a>
    <partial name="MarcOfic" />

 </div>   
 <partial name="_LoginPartial" />
</div>



 


            @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
